@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    min-width: 100vw;
    height: 50vh;
    background-color: rgba(11, 11, 11, 0.854);
    font-family: "Comfortaa", cursive;
}

input[type="range"],
.container,
.colorBox,
#colorNumberRed,
#colorNumberBlue,
#colorNumberGreen,
#colorNumber {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container {
    border: 1px solid white;
    margin-top: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
}

.box {
    display: grid;
    place-items: center;
}

.box>* {
    margin-bottom: 0.5rem;
}

.colorBox {
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

input[type="range"] {
    appearance: none !important;
    background: #444;
    height: 20px;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 2px solid white;
    background: rgba(20, 20, 9, 0);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#colorNumberRed,
#colorNumberBlue,
#colorNumberGreen {
    width: 50px;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.4rem;
    color: white;
    border-radius: 10px;
    font-weight: 600;
}

#colorNumberRed,
#inputRed {
    background-color: red;
}

#colorNumberBlue,
#inputBlue {
    background-color: blue;
}

#colorNumberGreen,
#inputGreen {
    background-color: green;
}

#colorNumber {
    width: 100%;
    text-align: center;
    color: rgb(128, 128, 128);
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: black;
    font-size: 1.4rem;
}